POSTGRES_USER=bd2
POSTGRES_PASSWORD=bd2
POSTGRES_DB=bd2_proyecto2
POSTGRES_PORT=5432
BACKEND_PORT=8000
FRONTEND_PORT=3000
NEXT_PUBLIC_API_URL=http://localhost:8000
KAGGLE_USERNAME= 
KAGGLE_KEY=
APP_INDEX_FULL_DATA=0
APP_MAX_TEXT_DOCS=10000
APP_MAX_IMAGES=10000
APP_MAX_AUDIO_FILES=10000